<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603565223533-m8km8q7nk7vu0pnoi2b7bktevsq469u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603565223533-m8km8q7nk7vu0pnoi2b7bktevsq469u9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>603565223533-1siqhc6v8gd13jtud4c45hta26uu0hk7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnmND89dvI-K9E2isZx93Jb-vg2-GEi4M</string>
	<key>GCM_SENDER_ID</key>
	<string>603565223533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.omd</string>
	<key>PROJECT_ID</key>
	<string>omd-app-76987</string>
	<key>STORAGE_BUCKET</key>
	<string>omd-app-76987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603565223533:ios:e7a9fa3cb056888db21964</string>
</dict>
</plist>